:root {
  --blue-ribbon: #6558F5;
}

.obj-fit-cover {
  object-fit: cover;
}

.hidden {
  visibility: hidden;
}

.w-max-content {
  max-width: max-content;
}

.blue-ribbon {
  color: var(--blue-ribbon);
}

.activeStep {
  border-bottom: 4px solid var(--blue-ribbon);
}

.image-paper.active-paper {
  box-shadow: 0 2px 12px 0 rgba(101, 88, 245, 0.2), 0 2px 12px 0 rgba(101, 88, 245, 0.10),0 2px 12px 0 rgba(101, 88, 245, 0.05);
}

footer hr.divider-root {
  height: 2px;
  background-color: #C3CFD9;
}

footer .button-control {
  background-color: var(--blue-ribbon);
}

.slider-thumb.MuiSlider-thumb:hover  {
  box-shadow: 0 0 0 6px rgba(63, 81, 181, 0.16);
}

.MuiSlider-active.slider-thumb.MuiSlider-thumb:hover {
  box-shadow: 0 0 0 10px rgba(63, 81, 181, 0.16);
}